python-dotenv==1.0.1
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.86
langchain-google-genai==2.0.7
google-generativeai==0.8.6
autogen
ag2[gemini]
pyautogen
pyautogen[gemini]
vertexai
sentence-transformers
huggingface-hub
faiss-cpu
pandas
numpy
rouge-score
nltk
fastapi
uvicorn
pydantic
streamlit
requests